@import "antd/dist/antd.css";

#root > div {
  height: 100vh;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #26cb88 !important;
  box-shadow: 0 0 0 2px #26cb892f;
}
.ant-dropdown-menu {
  padding: 0;
  &-item:hover,
  &-submenu-title:hover {
    background-color: initial;
  }
}

.active-link {
  & > div {
    background-color: #26cb88;
    svg {
      color: #fff !important;
    }
  }
}

.recharts-tooltip-wrapper {
  & > div {
    border: none !important;
    padding: 4px 8px !important;
    box-shadow: 0 1.3px 4.3px rgba(0, 0, 0, 0.048),
      0 4.5px 14.5px rgba(0, 0, 0, 0.072), 0 20px 65px rgba(0, 0, 0, 0.12);
  }
}

.current-lang {
  border: 2px solid gray !important;
  padding: 1px;
  border-radius: 50%;
  box-sizing: content-box;
}
